version: "3.8"
services:
  nginx:
    build: nginx
    volumes:
      - ./nginx:/nginx
      - static_volume:/backend/static
    ports:
      - 80:80
    depends_on:
      - backend
  backend:
    build: ./properties
    command: >
      sh -c "python3 init.py && 
            gunicorn properties.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./properties:/backend
      - static_volume:/backend/static
      - /usr/local/etc:/root/.local/share/pyppeteer/local-chromium/
    ports:
      - "8000:8000"
    environment:
      DB_NAME: properties
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      DEBUG:
      ALLOWED_HOSTS: "*"
      PYTHONUNBUFFERED: 1
    depends_on:
      - db
      - redis
  worker:
    build: ./properties
    command: celery -A properties worker -B -l info
    volumes:
      - ./properties:/backend
      - /usr/local/etc:/root/.local/share/pyppeteer/local-chromium/
    environment: &environment
      DB_NAME: properties
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
    depends_on:
      - db
      - redis
      - backend
  db:
    image: "postgis/postgis:13-master"
    volumes:
      - postgresdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: properties
      POSTGRES_PASSWORD: postgres
  redis:
    image: "redis:6.2.2-alpine"
    expose:
      - "6379"
    ports:
      - "6379:6379"
volumes:
  static_volume:
  postgresdata:
